---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 0
---

<section class="max-w-screen-md space-y-6">
  <h1>Hi, I'm Simon</h1>

  <p>
    I am a frontend developer from Nuremberg with a heart for good UX.
  </p>

  <p>
    In my studies of media technology I first specialized in conception and design of print media.
    Over time, however, my interest in frontend development was awakened.
    Since then I live out my affinity for good looks on the web and continue to develop technically.
  </p>

  <ul class="list-['#'] list-inside flex flex-wrap gap-x-1 text-xl font-semibold">
    <li>angular</li>
    <li>angularmaterial</li>
    <li>tailwindcss</li>
    <li>nx</li>
    <li>react</li>
    <li>reactnative</li>
    <li>uxdesign</li>
    <li>uidesign</li>
    <li>webdevelopment</li>
    <li>mobiledevelopment</li>
    <li>rxjs</li>
    <li>redux</li>
    <li>jamstack</li>
    <li>rest</li>
    <li>wordpress</li>
    <li>html5</li>
    <li>css</li>
    <li>javascript</li>
    <li>architecture</li>
    <li>conception</li>
    <li>moderation</li>
    <li>scrum</li>
  </ul>
</section>